extends layout

block append vars
	- bodyclass = 'article-detail'

block prepend title
	| #{ page.title + " - "}

block append head
	script(src=locals.url + "/scripts/bitsmash_logo/bitsmash_business_card_generator.js")


block header
	include author
	div.row
		h1.large-12.columns.article-title= page.title

block content
	div.row
		article.article
			section.content!= typogr(page.html).typogrify()
		form#business_card_generator
			div.row
				div.large-6.columns
					label(for="") Name
						input#name(type="text" value="Bit Smashington")

			div.row
				div.large-6.columns
					label(for="") Value
						input#seed_text(type="text" value="Bit Smashington")

			div.row
				div.large-6.columns
					label(for="") Angle
						input#angle(type="text" value="170")
					label (whole degrees, blank for random)

				div.large-6.columns
					button#generate_button Generate

			div.text
				h1 BITSMASH Studios
				h2 BITSMASH Studios, LLC
			div.canvas_wrapper
				canvas#bitsmash_business_card_logo(data-processing-sources=locals.url + "/scripts/bitsmash_logo/bitsmashjs.pde")
